
/*[data-md-color-scheme="blueberry"] {*/
/*    --md-default-fg-color:               hsla(0, 0%, 100%, 1);*/
/*    --md-default-fg-color--light:        hsla(0, 0%, 100%, 0.87);*/
/*    --md-default-fg-color--lighter:      hsla(0, 0%, 100%, 0.32);*/
/*    --md-default-fg-color--lightest:     hsla(0, 0%, 100%, 0.12);*/
/*    --md-default-bg-color:               hsla(232, 15%, 21%, 1);*/
/*    --md-default-bg-color--light:        hsla(232, 15%, 21%, 0.54);*/
/*    --md-default-bg-color--lighter:      hsla(232, 15%, 21%, 0.26);*/
/*    --md-default-bg-color--lightest:     hsla(232, 15%, 21%, 0.07);*/

/*// Code color shades*/
/*--md-code-bg-color:                  hsla(232, 15%, 18%, 1);*/
/*    --md-code-fg-color:                  hsla(60, 30%, 96%, 1);*/

/*// Text color shades*/
/*--md-text-color:                     var(--md-default-fg-color--light);*/
/*    --md-text-link-color:                var(--md-primary-fg-color);*/
/*    --md-typeset-a-color:                var(--md-primary-fg-color);*/

/*// Admonition color shades*/
/*--md-admonition-bg-color:            hsla(0, 0%, 100%, 0.025);*/
/*    --md-admonition-fg-color:            var(--md-default-fg-color);*/

/*// Footer color shades*/
/*--md-footer-bg-color:                hsla(232, 15%, 12%, 0.87);*/
/*    --md-footer-bg-color--dark:          hsla(232, 15%, 10%, 1);}*/


.md-typeset h1 {
  font-weight:700;
  margin:0 0 0.25em;
}

.md-typeset h2 {
  font-weight:600
}

.md-typeset h3,
.md-typeset h4 {
  font-weight:500
}

.md-typeset a {
    color: #3c95fa;
}
body > div.md-container > main > div > div.md-content > article > blockquote,
body > div.md-container > main > div > div.md-content > article > p {
  text-align: justify;
}


body > div.md-container > main > div > div.md-sidebar.md-sidebar--primary > div > div > nav > ul > li > div > a,
body > header > nav > div.md-header__source > a > div.md-source__repository.md-source__repository--active {
  visibility: hidden
}

/*.md-typeset {*/
/*  font-size: .90rem;*/
/*  font-weight: 400*/
/*}*/



/*a:hover {*/
/*  text-decoration: underline*/
/*}*/



/*p a:hover {*/
/*  color: var(--md-default-bg-color)!important;*/
/*  background-color: var(--md-primary-fg-color);*/
/*}*/
